@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Oswald:wght@200&family=Rajdhani&family=Rubik:wght@300&display=swap');

:root {
  --card: rgba(0,0,0,0.9);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


#titulo {
  font-family: sans-serif;
}

#subtitulo {

}

body {
  background: linear-gradient(334deg, #f77b6b, #2551e2, #13f7f7);
	background-size: 180% 180%;
	animation: gradient-animation 6s ease infinite;
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.form-title {
  font-family: Oswald;
  font-size: 1.5rem;
}

.form-description {
  font-family: Oswald;
  font-size: 1.5rem;
}

body {
  background-color: #0d1117;
  color: white;
}

.swiper {
  min-width: 250px;
  width: 20%;
  height: 60vh;
  min-height: 400px;
}

.presentacion {
  font-family: Rubik;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  border: 2px solid#c59eff;
}

.swiper-slide:nth-child(1n) {
  background-color: var(--card);
}

.swiper-slide:nth-child(2n) {
  background-color: var(--card);
}

.swiper-slide:nth-child(3n) {
  background-color: #0d1117;
}

#card-description {
  font-family: Moon, sans-serif;
  font-size: 1.3rem;
}

@media (max-width: 630px) {
  .tokenize {
    height: auto;
  }
  .container {
    flex-direction: column;
    height: 130vh;
  }
  .form-container {
    width: 100%;
  }
  .form {
    max-height: 500px;
    height: 50vh;
    width: 80%;
  }
  .form textarea {
    height: 50%;
  }
  .mobile-form {
    flex-direction: column;
    height: 70vh;
    background-color:green;
  }
  .swiper {
    height: 70vh;
    max-height: 500px;
  }
  #titulo {
    font-size: 2rem;
  }
  #subtitulo {
    font-size: 1.4rem;
    padding-left: 40px;
  }
  #headerTitle {
    margin-left: 10px;
  }
}