@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Oswald:wght@200&family=Rajdhani&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');

:root {
  --card: rgba(0,0,0,0.9);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


#titulo {
  font-family: Barlow;
  font-size: 3.5rem;
}

.barlow-family {
  font-family: Barlow;
}

#subtitulo {
  font-family: Barlow;
}

.background {
  background: linear-gradient(334deg, #f77b6b, #2551e2, #13f7f7);
	background-size: 180% 180%;
	animation: gradient-animation 6s ease infinite;
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#card-description {
  font-size: 1.2rem;
}

.form-title {
  font-family: Oswald;
  font-size: 1.5rem;
}

.form-description {
  font-family: Oswald;
  font-size: 1.5rem;
}

body {
  background-color: #0d1117;
  color: white;
}

.swiper {
  min-width: 250px;
  width: 20%;
  height: 60vh;
  min-height: 400px;
}

.presentacion {
  font-family: Rubik;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  border: 2px solid#c59eff;
}

.swiper-slide:nth-child(1n) {
  background-color: var(--card);
}

.swiper-slide:nth-child(2n) {
  background-color: var(--card);
}

.swiper-slide:nth-child(3n) {
  background-color: #0d1117;
}

@media (max-width: 630px) {
  .waiting {
    font-size: 1.4rem;
  }
  .generate {
    height: 110vh;
  }
  .tokenize {
    height: auto;
  }
  .container {
    flex-direction: column;
    height: 150vh;
  }
  .form-container {
    width: 100%;
  }
  .form {
    max-height: 500px;
    height: 50vh;
    width: 80%;
  }
  .form textarea {
    height: 50%;
  }
  .mobile-form {
    flex-direction: column;
    height: 70vh;
    background-color:green;
  }
  .swiper {
    height: 33vh;
    max-height: 500px;
  }
  #titulo {
    font-size: 2.8rem;
  }
  #subtitulo {
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 0px;
    font-size: 1.5rem;
  }
  #headerTitle {
    margin-left: 10px;
  }
}

/* Responsive en mi pantalla */

@media (min-width: 2200px, max-width: 3000px) {
  /* section 1*/

  #titulo {
    font-size: 5.5rem;
  }
  #subtitulo {
    font-size: 3rem;
    padding-left: 30px;
  }
  .swiper {
    height: 60vh;
    max-height: 700px;
  }
  .swiper-slide {
    border: 3px solid #c59eff;
  }
  .card h1 {
    font-size: 2.5rem;
    margin-top: 20px;
  }
  #card-description {
    font-size: 2rem;
    padding: 50px;
  }
  .card-button {
    height: 70px;
    width: 140px;
    font-size: 2rem;
    margin-bottom: 20px;
    border: 2px solid#c59eff;
  }

  /* section 2 (tokenize)*/

  .tokenize {
    justify-content: space-evenly;
  }
  .container {
    width: 100%;
    min-width: 100%;
  }
  .form {
    max-height: 1200px;
    height: 70vh;
    width: 80%;
  }
  .form-title {
    font-size: 3.5rem;
  }
  .tokenize-input {
    height: 100px;
    width: 80%;
    font-size: 1.6rem;
  }
  .form-description {
    margin-top: 40px;
    font-size: 3.5rem;
  }
  .tokenize-area {
    padding: 20px;
    font-size: 1.6rem;
  }
  #copy {
    margin-top: 30px;
    right: 200px;
    height: 40px;
    width: 40px;
  }
  .tokenize-button {
    margin-top: 40px;
  }
  #tokenize-button-container {
    width: 85%;
    margin-top: 80px;
  }

  /* section 3 (generation) */

  .title {
    font-size: 3.5rem;
  }
  #header {
    height: 100px;
    border-bottom: 2px solid rgb(158,197,255);;
  }
  .generate-button {
    height: 70px;
    width: 140px;
    font-size: 1.5rem;
  }
  #generate-button-container {
    width: 90%;
    margin-top: 50px;
  }
  .generate-input {
    margin-top: 10px;
    font-size: 1.6rem;
    height: 70px;
  }
  .generate-area {
    margin-top: 10px;
    font-size: 1.6rem;
  }
  #answers {
    font-size: 2rem;
  }
  #answer-question {
    font-size: 1.8rem;
  }
  #answer-result {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  /* Waiting section */

  #title-waiting-answers {
    font-size: 4.5rem;
  }
  #description-waiting-answers{
    font-size: 2.3rem;
  }
  #waiting-gif {
    height: 500px;
    width: 750px;
  }

  /* Results section */

  .results-button {
    height: 80px;
    width: 160px;
    font-size: 1.5rem;
  }
  #results-info {
    font-size: 2.5rem;
  }
  #results-results {
    font-size: 3.5rem;
    margin-bottom: 70px;
  }
  /* Button */

  .button {
    height: 70px;
    width: 140px;
    font-size: 2rem;
  }
}


/* Responsive en 1080 television */

@media (min-width: 1900px) {
  /* section 1*/

  #titulo {
    font-size: 5.5rem;
  }
  #subtitulo {
    font-size: 3rem;
    padding-left: 30px;
  }
  .swiper {
    height: 60vh;
  }
  .swiper-slide {
    border: 3px solid #c59eff;
  }
  .card h1 {
    font-size: 2.5rem;
    margin-top: 20px;
  }
  #card-description {
    font-size: 2rem;
    padding: 50px;
  }
  .card-button {
    height: 70px;
    width: 140px;
    font-size: 2rem;
    margin-bottom: 20px;
    border: 2px solid#c59eff;
  }

  /* section 2 (tokenize)*/

  .tokenize {
    justify-content: space-evenly;
  }
  .container {
    width: 100%;
    min-width: 100%;
  }
  .form {
    max-height: 1200px;
    height: 70vh;
    width: 80%;
  }
  .form-title {
    font-size: 3.5rem;
  }
  .tokenize-input {
    height: 100px;
    width: 80%;
    font-size: 1.6rem;
  }
  .form-description {
    margin-top: 40px;
    font-size: 3.5rem;
  }
  .tokenize-area {
    padding: 20px;
    font-size: 1.6rem;
  }
  #copy {
    margin-top: 30px;
    right: 200px;
    height: 40px;
    width: 40px;
  }
  .tokenize-button {
    margin-top: 40px;
  }
  #tokenize-button-container {
    width: 85%;
    margin-top: 80px;
  }

  /* section 3 (generation) */

  .title {
    font-size: 3.5rem;
  }
  #header {
    height: 100px;
    border-bottom: 2px solid rgb(158,197,255);;
  }
  .generate-button {
    height: 70px;
    width: 140px;
    font-size: 1.5rem;
  }
  #generate-button-container {
    width: 90%;
    margin-top: 50px;
  }
  .generate-input {
    margin-top: 10px;
    font-size: 1.6rem;
    height: 70px;
  }
  .generate-area {
    margin-top: 10px;
    font-size: 1.6rem;
  }
  #answers {
    font-size: 2rem;
  }
  #answer-question {
    font-size: 1.8rem;
  }
  #answer-result {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  /* Waiting section */

  #title-waiting-answers {
    font-size: 4.5rem;
  }
  #description-waiting-answers{
    font-size: 2.3rem;
  }
  #waiting-gif {
    height: 500px;
    width: 750px;
  }

  /* Results section */

  .results-button {
    height: 100px;
    width: 200px;
    font-size: 1.8rem;
  }
  #results-info {
    font-size: 2.7rem;
  }
  #results-results {
    font-size: 3.5rem;
    margin-bottom: 70px;
  }
  /* Button */

  .button {
    height: 70px;
    width: 140px;
    font-size: 2rem;
  }
}


/* Responsive para monitores 4k television */

@media (min-width: 3000px) {

  /* section 1*/

  #titulo {
    font-size: 8rem;
  }
  #subtitulo {
    font-size: 5rem;
    padding-left: 30px;
  }
  .swiper {
    height: 60vh;
  }
  .swiper-slide {
    border: 5px solid #c59eff;
  }
  .card h1 {
    font-size: 5rem;
    margin-top: 40px;
  }
  #card-description {
    font-size: 4rem;
    padding: 50px;
  }
  .card-button {
    height: 150px;
    width: 300px;
    font-size: 3rem;
    margin-bottom: 40px;
    border: 4px solid#c59eff;
  }

  /* section 2 (tokenize)*/

  .tokenize {
    justify-content: space-evenly;
  }
  .container {
    width: 100%;
    min-width: 100%;
  }
  .form {
    max-height: 1200px;
    height: 70vh;
    width: 80%;
  }
  .form-title {
    font-size: 5.5rem;
  }
  .tokenize-input {
    height: 130px;
    width: 80%;
    font-size: 3rem;
  }
  .form-description {
    margin-top: 40px;
    font-size: 5.5rem;
  }
  .tokenize-area {
    padding: 40px;
    font-size: 3.2rem;
  }
  #copy {
    right: 350px;
    height: 60px;
    width: 60px;
  }
  .tokenize-button {
    height: 150px;
    width: 300px;
    font-size: 3rem;
    margin-top: 60px;
  }
  #tokenize-button-container {
    width: 85%;
    margin-top: 80px;
  }

  /* section 3 (generation) */

  .title {
    font-size: 6rem;
  }
  #header {
    height: 180px;
    border-bottom: 5px solid rgb(158,197,255);;
  }
  .generate-button {
    margin-top: 60px;
    height: 150px;
    width: 300px;
    font-size: 3rem;
  }
  .generate-button:hover {
    font-size: 3.1rem;
  }
  #generate-button-container {
    width: 93%;
    margin-top: 150px;
  }
  .generate-input {
    margin-top: 40px;
    font-size: 3rem;
    height: 130px;
  }
  .generate-area {
    margin-top: 10px;
    font-size: 3rem;
  }
  #answers {
    font-size: 4rem;
  }
  #answer-question {
    font-size: 3rem;
  }
  #answer-result {
    font-size: 3rem;
  }

  /* Waiting section */

  #title-waiting-answers {
    font-size: 7rem;
  }
  #description-waiting-answers{
    font-size: 5rem;
  }
  #waiting-gif {
    height: 1000px;
    width: 1500px;
  }

  /* Results section */

  .results-button {
    height: 150px;
    width: 300px;
    font-size: 2.5rem;
  }
  #results-info {
    font-size: 4rem;
  }
  #results-results {
    font-size: 7rem;
    margin-bottom: 70px;
  }
}

/* Responsive en phonos */

@media (max-width:  1000px) {
  .swiper {
    max-height: 450px;
  }
}